@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* CSS Variables */
:root {
	--primary-color: #b90415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--light-color: #f4f4f4;
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color: #252529;
	margin: 0;
	color: #fff;
	line-height: 1.6;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #ccc;
}

/* Section */
.section {
	padding: 2rem 0;
}
.refugee {
	width: 50%;
	border: 5px solid black;
}
.section-main {
	background-color: rgba(0, 0, 0, 0.51);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.42);
}
.active {
	color: rgba(225, 162, 25, 0.91);
	font-weight: 700;
	font-size: 1.01rem;
}

.section-head {
	font-size: 2.5rem;
	margin: 0;
}

.section h3 {
	font-size: 2rem;
}
ul li {
	list-style-type: none;
}

section#entertainment {
	background: url(https://images.unsplash.com/photo-1472673630503-c6bfba62adbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80)
		no-repeat center/cover;
	padding: 30rem 0;
}

section#contact {
	background: url(https://images.unsplash.com/photo-1499159058454-75067059248a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80)
		no-repeat top/cover;
	padding: 20rem 0;
}
.icon {
	color: #000000;
	margin: 2rem;
}

.gift-cards {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	text-align: right;
}
.slider {
	border-top: 2rem solid black;
}

/* Showcase */
#showcase {
	margin: 0;
	padding: 0;
	background: url('https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80')
		no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
}
#showcase-event {
	margin: 0;
	padding: 0;
	background: url('https://images.unsplash.com/photo-1518169709214-6d2fff4a8a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80')
		no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
}
.logo {
	width: 12%;
	height: 20%;
	position: relative;
	padding-top: 8rem;
	margin: 1rem auto;
	align-content: center;
	display: flex;
}
.container-event {
	max-width: 1180px;
	text-align: center;
	margin: 25rem auto;
	padding: 2rem 3rem;
	background-color: rgba(255, 255, 255, 0.43);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.42);
}
.container-event h1 {
	font-size: 4rem;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-weight: 600;
}
.container-event p {
	font-size: 2rem;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}
.contact {
	color: black;
}

#showcase .container {
	margin-top: 1vh;
}

#showcase h1 {
	font-size: 4rem;
	margin-bottom: 0;
}

#showcase h2 {
	font-size: 2rem;
}

/* Footer */
footer .footer-cols {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}

footer .footer-cols ul {
	list-style: none;
}

footer .footer-cols ul li:first-child {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1px;
	margin-bottom: 1rem;
}

footer .footer-bottom {
	background: #333;
	padding: 1rem;
}

/* Utility Classes */
.container {
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

.lead {
	font-size: 1.3rem;
}

.text-center {
	text-align: center;
}

/* Buttons */
.btn {
	padding: 1rem;
	color: #fff;
	display: inline-block;
}

.btn-primary {
	background: var(--primary-color);
}

.btn-primary:hover {
	background: var(--primary-color-hover);
}

.btn-secondary {
	background: var(--secondary-color);
}

.btn-secondary:hover {
	background: var(--secondary-color-hover);
}

/* Text colors */
.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-light {
	color: var(--light-color);
}

.bg-light {
	background: var(--light-color);
	color: #333;
}

.mb {
	margin-bottom: 1rem;
}

.mt {
	margin-top: 1rem;
}

/* Navigation */
nav {
	height: 40px;
	width: 100%;
	background-color: #333;
	color: #eee;
	position: fixed;
	z-index: 1;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #eee;
	text-decoration: none;
}
nav li:hover {
	font-size: 1.1rem;
}
nav a#openup {
	display: none;
}

@media screen and (max-width: 580px) {
	.hide-on-small {
		display: none;
	}

	#showcase {
		height: 50vh;
	}
	.logo {
		width: 15%;
		height: 15%;
		padding-top: 4rem;
	}
	.section-main {
		margin-top: 0;
		padding-top: 0;
	}

	#showcase .container {
		margin-top: 2vh;
	}

	#showcase h1 {
		font-size: 2.2rem;
	}

	#showcase h2 {
		font-size: 1rem;
	}
	.section p {
		font-size: 0.9rem;
	}

	nav {
		height: auto;
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav li {
		width: 100%;
		float: left;
		position: relative;
	}
	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #333;
		border-bottom: 1px solid #555;
	}
	nav a:hover {
		background: #444;
	}
	nav a#openup:after {
		content: '|||';
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Safari and Chrome */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 20px;
	}
	nav a#openup {
		display: block;
		background-color: #333;
		width: 100%;
		position: relative;
	}
}
.cf:before,
.cf:after {
	content: '';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

@media screen and (max-width: 780px) {
	.gift-cards {
		grid-template-columns: 1fr;
	}
	.logo {
		width: 15%;
		height: 15%;
	}

	footer .footer-cols {
		display: none;
	}
}

@media screen and (max-height: 580px) {
	#showcase p.lead {
		display: none;
	}
}
